In [3]:
import pandas as pd
import re

In [4]:
df = pd.read_csv('output/amz_questions.csv')

In [5]:
display(df.head())
display(df.tail())

   Unnamed: 0           question
0           0  Deliver to\nSpain
1           1  Deliver to\nSpain
2           2                NaN
3           3                NaN
4           4                NaN

      Unnamed: 0                                           question
3935        3935              Most Helpful first\n            Ne...
3936        3936                                 Most Helpful first
3937        3937                                                NaN
3938        3938                                                NaN
3939        3939  1) are cows free from antibiotics and hormone ...

In [6]:
df.shape

(3940, 2)

In [7]:
df.drop(columns=['Unnamed: 0'], inplace=True)

In [8]:
print(df.isna().value_counts())

question
True        2542
False       1398
dtype: int64

In [9]:
df.dropna(inplace=True)

In [10]:
 pd.options.display.max_colwidth = 120

In [11]:
df.replace('\n', ' ')

                                                                                             question
0                                                                                   Deliver to\nSpain
1                                                                                   Deliver to\nSpain
17                                           Most Helpful first\n            Newest First\n
18                                                                                 Most Helpful first
21                                                          What types of collagen does this contain?
...                                                                                               ...
3918                                                                                Deliver to\nSpain
3919                                                                                Deliver to\nSpain
3935                                         Most Helpful first\n            Newest First\n
3936                                                                               Most Helpful first
3939  1) are cows free from antibiotics and hormone therapy? 2) is any extra feed in winter gmo free?

[1398 rows x 1 columns]

In [12]:
df['question'] = df['question'].apply(lambda word: word.replace('\n', ' '))

In [13]:
df = df[df['question'] != 'Deliver to Spain']

In [14]:
df.reset_index(inplace=True, drop=True)

In [15]:
print(df.shape)
df.head()

(1246, 1)

                                                                                                                  question
0                                                                   Most Helpful first             Newest First
1                                                                                                       Most Helpful first
2                                                                                What types of collagen does this contain?
3                                                                                                        See all 3 answers
4  Certified Halal/kosher - are the cattle ritually slaughtered? I am against this due to animal welfare? this should b...

In [16]:
rows_idx =[]
def string_row_finder(text: list):
    for txt in text:
        for idx in range(len(df['question'])):
            if len(re.findall(rf"{txt}", df['question'][idx], re.IGNORECASE)) != 0:
                rows_idx.append(idx)

In [17]:
find_text = ['\d* ans\w*', 'Most Helpful first']

In [18]:
string_row_finder(find_text)

In [19]:
df.drop(df.index[rows_idx], inplace=True)

In [20]:
print(df.shape)
df.head()

(697, 1)

                                                                                                                  question
2                                                                                What types of collagen does this contain?
4  Certified Halal/kosher - are the cattle ritually slaughtered? I am against this due to animal welfare? this should b...
6                    Heavy metals and other contaminants: who tested your products and when please? Is every batch tested?
7  I have elhers danlo hypermobility and would prefer a type i, ii, iii, as type i may not support type ii production i...
9                                                                                   How long does one tub last for please?

In [21]:
df.reset_index(inplace=True, drop=True)

In [23]:
df.head(10)

                                                                                                                  question
0                                                                                What types of collagen does this contain?
1  Certified Halal/kosher - are the cattle ritually slaughtered? I am against this due to animal welfare? this should b...
2                    Heavy metals and other contaminants: who tested your products and when please? Is every batch tested?
3  I have elhers danlo hypermobility and would prefer a type i, ii, iii, as type i may not support type ii production i...
4                                                                                   How long does one tub last for please?
5                                               Hello what grade of collagen is this and what is the mg strength per scoop
6                                             Can you use this product to make gummies? If so please post the best recipe!
7                                                                                         Is this collagen from cows only?
8                                                                        Has anyone noticed hair growth with this product.
9                                                              are there any interactions with other vitamins or minerals?

In [24]:
df.to_csv('output/amz_questions.csv')