In [1]:
import pandas as pd
from services.data_clean import string_row_finder

In [2]:
df = pd.read_csv('output/amz_questions.csv')

In [3]:
pd.options.display.max_colwidth = 120

In [4]:
display(df.head())
display(df.tail())

   Unnamed: 0           question
0           0  Deliver to\nSpain
1           1  Deliver to\nSpain
2           2                NaN
3           3                NaN
4           4                NaN

,Unnamed: 0,question
4890,4890,See all 7 answers
4891,4891,NaN
4892,4892,NaN
4893,4893,"The product seams to have bitter taste, has this been the case for anybody else?"
4894,4894,See all 6 answers

In [5]:
df.shape

(4895, 2)

In [6]:
df.drop(columns=['Unnamed: 0'], inplace=True)

In [7]:
print(df.isna().value_counts())

question
True        3167
False       1728
dtype: int64

In [8]:
df.dropna(inplace=True)

In [9]:
df['question'] = df['question'].apply(lambda word: word.replace('\n', ' '))

In [10]:
df = df[df['question'] != 'Deliver to Spain']

In [11]:
df.reset_index(inplace=True, drop=True)

In [12]:
print(df.shape)
df.head()

(1538, 1)

                                                             question
0              Most Helpful first             Newest First
1                                                  Most Helpful first
2           Where is the collagen sourced from? i.e Country/Countries
3   Do you test your product for heavy metals and other contaminants?
4                                                   See all 3 answers

In [13]:
rows_idx =[]

In [14]:
find_text = ['\d* ans\w*', 'Most Helpful first']

In [15]:
string_row_finder(df['question'], find_text, rows_idx)

In [16]:
df.drop(df.index[rows_idx], inplace=True)

In [17]:
print(df.shape)
df.reset_index(inplace=True, drop=True)
display(df.head(10))

(866, 1)

                                                            question
0          Where is the collagen sourced from? i.e Country/Countries
1  Do you test your product for heavy metals and other contaminants?
2                                    Does it have type1& 3 collagen?
3                           what is the molecular weight in daltons?
4                                                    Is it Milk free
5                           Is the packeging bpa free / recyclable ?
6                        what types of collagen are in this product?
7                     How much collagen (mg) in a scoop? many thanks
8                     Can i put it in a capsule, so not to taste it?
9              Are the cows used grazing (organic) or kept in-house?

In [18]:
df.to_csv('output/filtered_amz_questions.csv')